/.idea/
*.iml
/vendor/
/var/data/*.sqlite
/var/data/*.sqlite-journal
/var/cache/*
!/var/cache/.gitkeep
!/var/data/.gitkeep
.env
*.xlsm
/datos/
/var/backups/*
!/var/backups/.gitkeep
!/var/backups/personal/
/var/backups/personal/*
!/var/backups/personal/.gitkeep
/build/
.phpunit.cache
